# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* 
'hello'
-87.8
- 
/ 
+
6

In [12]:
mathematical_operators=["*","-","/","+"]
a=['hello',-87.8,6,"*","-","/","+"]
for i in a:
    if i in a and i in mathematical_operators:
        print(f'{i} is mathematical_operator')
    else:
        print(f'{i} is {type(i)}')

hello is <class 'str'>
-87.8 is <class 'float'>
6 is <class 'int'>
* is mathematical_operator
- is mathematical_operator
/ is mathematical_operator
+ is mathematical_operator

# 2.What is the difference between string and variable?

In [15]:
print("""1.string is a value representing text enclosed with quotations ("" or ''). string is a variable type""")
print('2.variable is name of value and variable types are integers,string,float and boolean.')

1.string is a value representing text enclosed with quotations ("" or ''). string is a variable type
2.variable is name of value and variable types are integers,string,float and boolean.

# 3. Describe three different data types.

In [21]:
print("data_types are 'integer','string','boolean'etc")
print('integer is a data type, contains whole number. example=1,2,3')
print('string is a data type, contains value enclosed with quotations. example="1","+","h","hellow"," ".') 
print('boolean data type has two values either True or False.')

data_types are 'integer','string','boolean'etc
integer is a data type, contains whole number. example=1,2,3
string is a data type, contains value enclosed with quotations. example="1","+","h","hellow"," ".
boolean data type has two values either True or False.

# 4. What is an expression made up of? What do all expressions do?
Ans. Expression is a combination of values, variables, operators or function calls. Expression is evaluated by the interpreter to produce a value

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Ans An expression is a combination of values, variables, and operators. 
example spam =10 is expression, 
here spam is variable, 
'=' is operator
10 is value.
statement is an instruction that a Python interpreter can execute.

# 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [22]:
bacon = 22 
bacon + 1

23

# 7. What should the values of the following two terms be?
1.'spam' + 'spamspam'
n\2.'spam' * 3

In [24]:
'spam' + 'spamspam'

'spamspamspam'

In [25]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

In [26]:
# To use variable there are set of rules to be valid 
#1.variable must start with a alpha or underscore(_), shouldn't contain spaces. so 100 is invalid.
#2. reserved keywords sholdn't be used as variable names.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [40]:
#three functions are int(),float(),str() use of these functions explained with examples below.
# string to integer
value1 = '14'    # string type
y= int(value1)   # we get an integer type
print(f'value1 is {type(value1)}, changed to {type(y)}')

value1 is <class 'str'>, changed to <class 'int'>

In [44]:
# string to float
value2 = '14'    # string type
y= float(value2)   # we get an float type
print(f'value2 is {type(value2)}, changed to {type(y)}')

value2 is <class 'str'>, changed to <class 'float'>

In [45]:
# integer to string
value3 = 14   # integer type
y= str(value3)   # we get an string type
print(f'value3 is {type(value3)}, changed to {type(y)}')

value3 is <class 'int'>, changed to <class 'str'>

## 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [46]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [47]:
# 'I have eaten ' + 99 + ' burritos.' is error because 99 is default int type cannot cancatenate with string data types. 
# if we put 99 value in quotes it will become string type and fix the error.
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'